.btn {
    height: 45px;
    background: rgba(249, 206, 105, .8);
    padding: 12px 25px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    color: $text-color;
    border: none;
    line-height: 23px;
    transition: all 0.4s;
    &:hover {
        background: rgba(249, 206, 105, 1);
        box-shadow: 4px 4px 7px $circle;
    }

}