@media (max-width: 1320px) {
    .sidepanel {
        display: none;
    }
}



@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about__wrapper {
        justify-content: space-between;
    }
    .about__skills {
        justify-content: space-evenly;
    }
    .about__skill {
        
    }
    .about__skill-text {
        width: 210px;
    }
    .education__wrapper {
        grid-template-columns: repeat(2,380px);
    }
    .skills__ratings {
        grid-template: repeat(2,minmax(70px,auto))/repeat(3,290px);
    }
    .skills__ratings-line {
        width: 100%;
    }
    .portfolio__wrapper {
        grid-template-columns: repeat(auto-fit, 280px);
        grid-auto-rows: 280px;
        justify-content: center;
        .horizontal, .vertical {
            grid-row: unset;
            grid-column: unset;
        }
    }
    .contacts__form {
        grid-template: 44px 190px 45px/repeat(2,230px);
    }
    .contacts__wrapper {
        grid-template-columns: 400px 540px;
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about__wrapper {
        align-items: center;
    }
    .about__photo {
        width: 100%;
        img {
            object-fit: cover;
        }
    }
    .title_fz36 {
        font-size: 30px;
    }
    .about__p {
        padding-top: 10px;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 0;
    }
    .about__skills {
        margin-top: 25px;
        flex-direction: column;
        gap: 15px;
    }
    .about__skill:last-child {
        margin-top: 0;
    }

    .education__wrapper {
        padding: 60px 0 0 0;
        column-gap: 10px;
        grid-template-columns: repeat(2,355px);
    }
    .education ul li .item__body {
        width: 300px;
    }
    .skills__divider {
        margin: 25px auto 30px auto;
    }
    .skills__wrapper {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .skills__item {
        margin-top: 30px;
    }
    .skills__ratings {
        grid-template: repeat(3,minmax(70px,auto))/repeat(2,290px);
        justify-content: center;
        column-gap: 80px;
    }
    .contacts__photo {
        display: none;
    }
}



@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .about {
        padding: 0;
    }
    .about__wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
    .about__skills {
        margin: 0;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .about__skill {
        padding-top: 20px;
    }
    .about__photo {
        margin: 0 auto;
        margin-top: 20px;
        height: 300px;
        img {
            height: 100%;
            object-fit: contain;
        }
    }
    .education__wrapper {
        column-gap: 10px;
        grid-template-columns: repeat(2,260px);
    }
    .education ul li .item__body {
        width: 225px;
        font-size: 12px;
    }
    .title_fz36 {
        font-size: 27px;
    }
    .education {
        padding-top: 80px;
    }
    .skills {
        padding-top: 60px;
    }
    .skills__item {
        &:first-child {
            margin-top: 0;
        }
    }
    .portfolio {
        padding-top: 40px;
    }
    .portfolio__divider {
        margin: 20px auto 30px auto;
    }
    .portfolio__wrapper {
        gap: 10px;
    }
    .contacts {
        padding: 40px 0;
    }
    .contacts__wrapper {
        padding: 0;
    }
}



@media (max-width: 576px) {
    .container {
        max-width: 320px;
        padding: 0 15px;
    }
    .burger {
        top: 20px;
        right: 20px;
    }
    .menu__block {
        max-width: 100%;
        padding-left: 35px;
    }
    .promo {
        &__wrapper {
            width: 300px;
            margin: 0 auto;
        }
        .title_fz48 {
            margin-top: 10px;
            font-weight: 700;
            font-size: 30px;
            line-height: 39px;
        }
        &__btns {
            margin-top: 32px;
            justify-content: space-around;
        }
        &__link {
            margin: 0 auto;
            &:first-child {
                margin: 0;
            }
        }
    }
    .about {
        &__wrapper {
           margin: 0;
            flex-direction: column;
        }
        &__photo {
            height: 300px;
            img {
                height: 100%;
            }
        }
        .title_fz16 {
            margin-top: 40px;
            text-align: center;
            &:before {
                left: 43%;
                top: -5px;
            }
        }
        .title_fz36 {
            font-size: 24px;
            line-height: 20px;
            text-align: left;
            margin-top: 20px;
        }
        &__divider {
            margin: 15px 0;
        }
        &__skill {
            padding-top: 25px;
            width: 270px;
        }
        &__skills {
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 0;
        }
        &__p {
            margin: 0 auto;
            width: 300px;
            font-size: 11px;
        }
        &__descr {
            width: 100%;
        }
    }
    .education {
        padding-top: 40px;
    }
    .education__wrapper {
        grid-template-columns: 290px;
        align-items: center;
        padding-top: 0;
    }
    .education__col {
        padding-top: 40px;
    }
    .education__col-title {
        position: relative;
        padding-left: 20px;
    }
    .title_fz20 {
        font-size: 20px;
        line-height: 27px;
    }
    .skills {
        padding-top: 40px;
    }
    .skills__divider {
        margin: 15px auto 0 auto;
    }
    .skills__item {
        margin-top: 20px;
        &:first-child {
            margin-top: 20px;
        }
    }
    .skills .title_fz36 {
        padding-top: 20px;
        font-size: 24px;
    }
    .skills__ratings {
        grid-template: repeat(6,minmax(70px,auto)) / 290px;
        padding: 0;
        margin-top: 40px;
    }
    .skills__ratings-item {
        row-gap: 40px;
    }
    .contacts__form {   
        grid-template: 45px 45px 143px/ 300px;
        row-gap: 20px;
    }
    .contacts__input, .contacts__textarea, .contacts__triggers {
        grid-column: 1 / 2;
    }
    .contacts__triggers {
        grid-template-columns: 220px;
        grid-template-rows: repeat(2, 45px);
        row-gap: 20px;
        justify-content: center;
        .btn {
            grid-row: 2 / 3;
        }
    }
    .contacts__policy {
        text-align: center;
        line-height: 12px;
        span {
            font-size: 10px;
        }
    }
    .contacts__descr .title_fz36 {
        font-size: 24px;
        margin-top: 0;
    }
    .contacts__social a {
        padding-right: 10px;
    }
    .contacts__wrapper {
        grid-template-columns: 300px;
        justify-content: center;
    }
}